@model EfimovsCalendar.Models.CalendarVM
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title – приложение ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/Scripts/Calendar/resize.js")
    @Scripts.Render("~/Scripts/Calendar/ui.js")


</head>
<body onload="init()" onresize="init()">
    <div id="wrapper" onclick="hideDD()"></div>
    <div id="dropDown">
        <div class="dropItem" onclick="location.href = '/Month'"> Month</div>
        <div class="dropItem" onclick="location.href = '/Week'"> Week</div>
    </div>
    <div id="header">
        <div class="icon"></div>
        <div onclick="location.href='/Month/Index/'"
             class="nav-button textBtn">Today</div>
        <div onclick="location.href='/Month/Index/@Model.Previous.Year/@Model.Previous.Year)'"
             class="nav-button circleBtn left"></div>
        <div onclick="location.href='/Month/Index/@Model.Next.Year/@Model.Next.Month'"
             class="nav-button circleBtn right"></div>
        <div class="currentDate"> @Model.MonthName @Model.CurrentYear</div>
        <div class="nav-button textBtn typeSelect" id="typeSelector"
             onclick="dropDownType(this)">Month ▼</div>
        <div class="nav-button circleBtn notifications"></div>
        <div class="nav-button circleBtn settings"></div>
    </div>
    <div id="wrap">
        <div id="sideBar">
            <div id="microCalendar">
                @foreach (var cell in Model.Cells)
                    {
                        <div class="microItem">@cell.Date.Day</div>
                    }
            </div>
        </div>
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

</body>
</html>



